/* Nav Bar */

.menu {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    padding: 20px 50px;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    
}

.menu img {
    width: 120px;
}

#menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-list a {
    color: #e5e7eB;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    
}


#menu-list li {
    list-style: none;
    padding: 0 12px;
}

/* Hero */

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 120px 180px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero p {
    font-size: 18px;
    color: #e5e7eB;
}

.hero .sign-up {
    background-color: #3882f6;
    color: #F9FAF8;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
}

.hero img {
    max-height: 50vh;
    border-radius: 10%;
}

/* Random info styles */

.random-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;

}

.random {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.random img {
    max-width: 240px;
    margin: 50px 100px;
    border: 2px solid #1F2937;
    border-radius: 20px;

}

.random figcaption {
    text-align: center;
    font-size: 18px;
}

/* Quotation styles */

blockquote {
    background-color: #e5e7eB;
    max-width: 800px;
    margin: auto;
}

blockquote p {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
    padding: 40px 120px;
}

blockquote footer {
    text-align: right;
    font-weight: 900;
}

/* Call to action */

.call {
    display: flex;
    max-width: 70vw;
    background-color: #3882f6;
    justify-content: space-evenly;
    margin: 80px auto;
    padding: 20px 60px;
    align-items: center;
    border-radius: 20px;
    color: #F9FAF8;

}

.call-sign {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #F9FAF8;
    border-radius: 20px;
    color: #F9FAF8;
    padding: 15px 30px;
}